<footer c>
  <div class="columns mt-5 is-flex is-justify-content-center is-align-content-center is-flex-direction-row-desktop is-flex-direction-column-mobile   has-text-centered" style="">
    <div class="column is-2 has-text-left mr-4">
      <%= image_tag("logo_hero.png", :size => "135x135") %>
    </div>
    <div class="column is-1 has-text-left"style="color:#022855;width:15rem" >
      <div class="title is-4" style="color:#022855">About</div>
      <div style="color:#022855">Careers</div>
      <div style="color:#022855">FAQ</div>
    </div>
    <div class="column is-1 has-text-left"style="color:#022855;width:15rem">
      <div class="title is-4"style="color:#022855;">Social</div>
    </div>
    <div class="column is-1 "style="color:#022855;width:15rem">
      <div class="title is-4"style="color:#022855">apps</div>
    </div>
  </div>
</div>
<div class="container">
  <div>
    <hr style="width:100%;border-top-width:1px;--tw-border-opacity:1;border-color:rgba(222, 222, 222, var(--tw-border-opacity));">
  </div>
  <div class="m-1">
    <div class="is-pulled-left mr-2  px-1" style="color:#022855;">© 2022 Sooq SE</div>
    <div class="is-pulled-left mr-2  px-1"style="color:#022855;">imprint</div>
    <div class="is-pulled-left mr-2  px-1" style="color:#022855;"> Term and Conditions</div>
    <div  class="is-pulled-left mr-2  px-1" style="color:#022855;"> Privacy</div>
    <div class="is-pulled-left mr-2 px-1" style="color:#022855;"> Cookies Settings</div>
    <div class="is-pulled-right"style="color:#022855;">International - EN</div>
  </div>
</footer>
