<div  style="width:  100% !important;background-color:#fce7f1; padding:0.5rem;opacity:1"></div>
<footer >
  <div class="columns mt-5 is-flex is-justify-content-center is-align-content-center is-flex-direction-row-desktop is-flex-direction-column-mobile   has-text-centered" style="">
    <div class="column is-2  mr-5">
      <%= image_tag("logo_hero.png", :size => "135x135") %>
    </div>
    <div class="column ml-5 is-1 has-text-left"style="color:#022855;width:15rem" >
      <div class="title is-4" style="color:#022855">About</div>
      <div style="color:#022855">Careers</div>
      <div style="color:#022855">FAQ</div>
    </div>
    <div class="column is-1 has-text-left"style="color:#022855;width:15rem">
      <div class="title is-4"style="color:#022855;">Social</div>
      <i class="fa-brands fa-square-instagram"></i>
    </div>
    <div class="column is-1 "style="color:#022855;width:15rem">
      <div class="title is-4"style="color:#022855">apps</div>
    </div>
  </div>
</div>
<div class="section ">
  <div class="container">
    <div>
      <hr style="width:100%;border-top-width:1px;--tw-border-opacity:1;border-color:rgba(222, 222, 222, var(--tw-border-opacity));">
    </div>
    <div class="is-flex is-justify-content-space-between ">
      <div class=" is-flex" style="width:60rem;gap:1rem; ">
        <div class=" mr-auto " style="color:#022855">© 2022 Sooq SE </div>
        <div class=" mr-auto " style="color:#022855">Imprint  </div>
        <div class=" mr-auto " style="color:#022855">Terms and Condition </div>
        <div class=" mr-auto " style="color:#022855">Privacy </div>
        <div class=" mr-auto " style="width:1rem;flex-grow:1 !important;color:#022855">Cookie Settings </div>
      </div>
      <div class=" is-flex" style=";gap:1rem;color:#022855 ">
        International - EN
      </div>
    </div>
  </footer>
