<div class="tags are-normal">
    <%= link_to url_for(locale: :mk) do %>
        <img style="width: 25px; margin-right: 10px;" alt="MK" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/MK.svg"/>
    <% end %>
    <%= link_to url_for(locale: :al) do %>
        <img style="width: 25px;" alt="SQ" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/AL.svg"/>
    <% end %>
</div>