<div class="tags are-normal">
    <%= link_to 'македонски', url_for(locale: :mk), class:'tag is-transparent' %>
    <%= link_to 'shqip', url_for(locale: :al), class:'tag is-transparent' %>
    <%= link_to 'English', url_for(locale: :en), class:'tag is-transparent' %>
</div>