<div class="column">
    <h4>NAVIGATION</h4>
    <div class="is-flex mt-2 is-align-items-center">
        <i style="width: 25px;"  class="fa-solid fa-house"></i>
        <p class="ml-2 paragraph-icons">Home</p>
    </div>
</div>
<div class="column">
    <h4>CATEGORIES</h4>
    <div class="is-flex is-multiline is-flex-direction-column is-fullwidth is-scrollable">
        <%= render @categories %>
    </div>
</div>