<div id="hero" style="background-color:rgb(158, 100, 163);">
  <div class="container">
   <div class="columns">
    <div class="column is-half">is-half</div>
    <div class="column">Auto</div>
    <div class="column">Auto</div>
   </div>
  </div>
</div>