<div class="has-background-white">
  <div class="container"style="background-color: #06062fde!important; border-radius: 450px; border-top-left-radius:165px; border-bottom-right-radius: 165px;">
    <div class="hero is-medium">
      <div class="hero-body" style="padding-top: 4rem; padding-bottom: 12px;">
        <div class="columns is-mobile">
          <div class="column is-three-fifths is-offset-one-fifth has-background-white p-6" style="padding-bottom:1.5rem!important; border-top-left-radius:8px; border-top-right-radius:8px;">
            <p class="subtitle is-3 m-0"> Esimeted Delivery </p>
            <div class="is-flex  is-justify-content-space-between">
              <div class="title is-1 ">12:30 - 12:40</div>
              <i class="fa fa-shopping-bag has-text-danger fa-5x" style="margin-top:-40px" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container"style="border-radius:5px;">
    <div class="hero is-medium">
      <div class="hero-body" style="padding-top: 12px;">
        <div class="columns is-mobile">
          <div class="column is-three-fifths is-offset-one-fifth p-6" style="box-shadow: 1px 3px 14px 0px rgba(5,5,5,0.68);-webkit-box-shadow: 1px 15px 23px -13px rgba(5,5,5,0.68);-moz-box-shadow: 1px 3px 14px 0px rgba(5,5,5,0.68);border-bottom-left-radius:8px; border-bottom-right-radius:8px;">
            <p class="subtitle is-3 m-0"> Esimeted Delivery </p>
            <div class="is-flex  is-justify-content-space-between">
              <div class="title is-1 ">12:30 - 12:40</div>
              <i class="fa fa-shopping-bag has-text-danger fa-5x" style="margin-top:-40px" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
