<div class="main-container">
  <div class="columns">
    <div class="column is-2_5">
      <div class="columns is-multiline is-flex-direction-column">
        <div class="column is-12 ">
          <div class="card is-flex ">
            <div class="column is-3 is-flex is-justify-content-center is-align-items-center" style="padding:0.5rem">
              <span class="showing-time pt-1 	 "> 14 min.</span>
            </div>
            <div class="mt-1">
              <span class="opened-hours has-text-weight-semibold	subtitle is-7" style="color:#a9a8a8">OPEN 8:00 am - 11:59 pm</span>
              <div>
                <p class="client-address has-text-weight-semibold subtitle is-7	has-text-danger	">Add  asddress </p>
              </div>
            </div>
          </div>
        </div>
        <%= render 'shared/navbar/main' %>
      </div>
    </div>
    <div class="column pt-5 pl-6">
      <div class="columns is-mobile is-flex-direction-column">
        <div id="category-details">
          <%= render @category %>
        </div>
      </div>
    </div>
  </div>
</div>
