@import "../library/variables";

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin-bottom: calc(1.5 * 1em / 2);

  dt {
    font-weight: 700;
    margin-top: calc(1.5 * 1em / 2);
  }

  dd {
    margin: 0;
  }
}
