<div class="modal-background" id="modal-background"></div>
<i class="fa-solid fa-caret-up" id="modal-arrow"></i>
<div class="modal" id="cart-modal">
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Shopping cart</p>
      <a href="#" data-controller="add-to-cart" data-action="click->add-to-cart#closeCart">
        <button class="delete" aria-label="close"></button>
      </a>
    </header>
    <section class="modal-card-body">
      <div id="add-reduce-section">
        <%= render "carts/proion", line_items: cart.line_items %>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger">Checkout</button>
      <a href="#" data-controller="add-to-cart" data-action="click->add-to-cart#closeCart">
        <button class="button is-light">Cancel</button>
      </a>
    </footer>
  </div>
</div>