.cell-label {
  padding-top: 0.15em;

  &:hover {
    a {
      color: #1976d2;
    }

    svg {
      fill: #1976d2;
      transform: rotate(180deg);
    }
  }

  a {
    color: inherit;
    display: inline-block;
    transition: color 250ms ease-in-out ;
    width: 100%;
  }
}

.cell-label--asc,
.cell-label--desc {
  font-weight: 700;
}

.cell-label__sort-indicator {
  float: right;
  margin-left: 5px;

  svg {
    fill: $hint-grey;
    height: 13px;
    transition: transform 250ms ease-in-out ;
    width: 13px;
  }
}

.cell-label__sort-indicator--desc {
  transform: rotate(180deg);
}

.cell-data--number,
.cell-label--number {
  text-align: right;
}
