.field-unit {
  @include administrate-clearfix;
  align-items: center;
  display: flex;
  margin-bottom: 1.5 * 1em;
  position: relative;
  width: 100%;
}

.field-unit__label {
  float: left;
  margin-left: 1rem;
  text-align: right;
  width: calc(15% - 1rem);
}

.field-unit__field {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  float: left;
  margin-left: 2rem;
  max-width: 50rem;
  width: 100%;

  .optgroup-header {
    font-weight: 700;
  }
}

.field-unit--nested {
  border: 1px solid #dfe0e1;
  margin-left: 7.5%;
  max-width: 60rem;
  padding: calc(1.5 * 1em / 2);
  width: 100%;

  .field-unit__field {
    width: 100%;
  }

  .field-unit__label {
    width: 10rem;
  }
}

.field-unit--required {
  label::after {
    color: $red;
    content: " *";
  }
}
