$_navigation-link-padding: 0.6em;

.navigation {
  flex: 1 0 10rem;
  padding: 1.5 * 1em;
  padding-left: 0;
}

.navigation__link {
  background-color: transparent;
  color: $base-font-color;
  display: block;
  line-height: 1;
  margin-left: -($_navigation-link-padding);
  padding: $_navigation-link-padding;
  transition: background-color 250ms ease-in-out ,
              color 250ms ease-in-out ;

  &:not(:last-of-type) {
    margin-bottom: calc(1.5 * 1em / 2);
  }

  &:hover {
    background-color: mix(#000, $base-background-color, 5%);
    border-radius: 4px;
    color: $base-font-color;
  }
}

.navigation__link--active {
  font-weight: 700;
}
