.pagination {
  margin-top: 1.5 * 1em;
  padding-left: 1.5 * 1em;
  padding-right: 1.5 * 1em;
  text-align: center;

  .first,
  .prev,
  .page,
  .next,
  .last {
    margin: calc(1.5 * 1em / 2);
  }

  .current {
    font-weight: 700;
  }
}
