/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bulma.min
 *= require font-awesome
 *= require_tree .
 *= require_self
  *= require_tree .


 */

* {
    font-family: "Jost", sans-serif !important;
}

#download-images {
    margin-left: -15px;
}

#download-images1 {
    margin-left: -5;
}

a:active,
a:focus,
button:focus,
button:active {
    outline: none;
}

@media only screen and (max-width: 640px) {
    #left-float-whenis-mobile {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }
}

.authorization-btn {
    border: none;
    box-shadow: none;
    color: #485fc7;
    background-color: transparent !important;
    &:hover {
        color: #485fc7;
    }
}

.main-container {
    padding: 1.7rem 3rem;
    padding-right: 0;
}

@media screen and (min-width: 769px) {
    .column.is-2_5,
    .column.is-2_5-tablet {
        flex: none;
        width: 20%;
        position: fixed;
    }
    .modal-background {
        position: absolute;
        right: 0px;
        left: 0;
        top: 95px;
        right: 0;
        z-index: 11;
        height: 1000%;
    }
    #modal-background {
        display: none;
    }
    .modal-card,
    .modal-content {
        margin: 0 auto;
        max-height: calc(100vh - 40px);
        width: 360px;
        position: relative;
    }
    #modal-arrow {
        color: white;
        position: absolute;
        float: right;
        right: 3.4rem;
        font-size: 30px;
        top: 105px;
        z-index: 11;
    }
    .modal-card-foot,
    .modal-card-head {
        background-color: white;
    }
}

@media screen and (max-width: 769px) {
    .column.is-2_5,
    .column.is-2_5-tablet {
        flex: none;
        width: 20%;
        width: 70%;
        padding-left: 1.4rem;
    }
    #modal-arrow {
        display: none;
    }
}

.modal-second {
    top: 150px;
    overflow: visible;
}

.modal-background-second {
    height: 1000%;
    width: 1000%;
    position: absolute;
    z-index: 1;
    top: -160px;
    left: -100%;
}

.modal-card-second {
    z-index: 1;
}

.modal-card-foot-second {
    background: white;
}

.modal-card-title {
    color: white;
}

a.disabled {
    pointer-events: none;
    opacity: 0.6;
    color: grey;
}

.card-footer-item {
    font-weight: 500;
}

.paragraph-icons {
    position: relative;
    top: 1px;
}

#card-item-product {
    width: 140px;
}

.product-image {
    background-color: #f3f2f0;
    width: 115px;
    border-radius: 7%;
}

.add-icon {
    bottom: 5px;
    position: absolute;
    right: 5px;
    font-size: 25px;
    color: red;
    background-color: white;
    border-radius: 4px;
    padding: 6px;
    border: 1px solid #bfbdbd;
    width: 30px;
}

.add-or-reduce {
    font-size: 25px;
    /* color: red; */
    background-color: white;
    border-radius: 4px;
    border: 1px solid #f14668;
}

.add-or-reduce div {
    width: 40px;
    height: 40px;
}

.p-5px {
    padding: 5px;
}

.quantity-background {
    background-color: #f14668;
    color: white;
    font-size: 20px;
}

.card-category {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

body {
    background-color: white;
}

.showing-time {
    text-align: center;
    line-height: 1;
    margin-right: 0.5rem;
    background-color: #f1f1f1;
    border-radius: 10%;
    font-size: 14px;
    color: #022855;
    font-weight: 700;
    padding: 7px;
}

.price-div {
    width: 12rem;
    height: 55px;
    border-radius: 6px;
    position: relative;
}

.hero-main {
    margin-top: 85px;
}

.home-title {
    font-weight: 700;
    font-size: 0.75rem;
    color: black;
}

.user-account-icon {
    line-height: 50px;
    width: 60px;
    height: 60px;
    background-color: #bfbdbd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #022855;
    font-weight: bold;
    background-color: #f1f1f1;
}

@media only screen and (max-width: 768px) {
    #delivery-price {
        font-size: 8px;
    }
    .cart-nav {
        width: 140px;
        height: 70px;
        float: right;
    }
    .card-nav-mt-mobile {
        margin-top: 0.3rem;
    }
    .font-size-subtotal-mobile {
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px) {
    #cart-details {
        width: 85%;
    }
    #mobile-width {
        position: fixed;
        bottom: 45px;
        /* right: 40%; */
        width: 85%;
    }
    #mobile-width-cart-nav {
        width: 87%;
    }
}

@media only screen and (max-width: 768px) {
    #heading-delivery {
        font-size: 1.2em;
    }
    #delivery-time {
        font-size: 1em;
    }
    .shopping-icon-size-mobile {
        font-size: 3em;
        margin-top: 40px;
    }
    #delivery-men {
        font-size: 1rem;
    }
    .vertical-sign {
        font-size: 1.2rem;
    }
    .order-track {
        font-size: 0.7rem;
    }
    #whole-content-img {}
}

@media only screen and (max-width: 450px) {
    #heading-delivery {
        font-size: 0.7em !important;
    }
    #delivery-time {
        font-size: 0.6em !important;
    }
    .shopping-icon-size-mobile {
        font-size: 2em !important;
        // margin-top: 40px !important;
    }
    #delivery-men {
        font-size: 0.7em !important;
    }
    .non-padding-mobile-less-then-450px {
        padding: 20px 30px !important;
    }
    .vertical-sign {
        font-size: 0.6rem !important;
    }
    .order-track {
        font-size: 0.5rem !important;
    }
    .steps-width {
        height: 3px !important;
    }
    #whole-content-img {}
}


/* Loader 4 */

#loader-4 {
    display: none;
}

.loader-4 {
    height: 45px;
    width: 45px;
}

.loader-4::after {
    content: "";
    display: block;
    position: absolute;
    top: -60px;
    left: 0;
    bottom: 0;
    right: 60px;
    margin: auto;
    width: 40px;
    height: 40px;
    top: -60px;
    left: 0;
    bottom: 0;
    right: 60px;
    margin: auto;
    background: rgb(244, 149, 149);
    border-radius: 50%;
    -webkit-animation: loader-4-1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    animation: loader-4-1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@-webkit-keyframes loader-4-1 {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
}

@keyframes loader-4-1 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.loader-4 span {
    display: block;
    position: absolute;
    top: -60px;
    left: 0;
    bottom: 0;
    right: 60px;
    margin: auto;
    height: 40px;
    width: 40px;
    -webkit-animation: loader-4-2 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    animation: loader-4-2 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@-webkit-keyframes loader-4-2 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loader-4-2 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-4 span::before,
.loader-4 span::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 40px;
    width: 40px;
    background: rgb(254, 144, 144);
    border-radius: 50%;
    -webkit-animation: loader-4-3 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    animation: loader-4-3 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@-webkit-keyframes loader-4-3 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
    50% {
        -webkit-transform: translate3d(-46px, 0, 0) scale(0.5);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes loader-4-3 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }
    50% {
        transform: translate3d(-46px, 0, 0) scale(0.5);
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}

.loader-4 span::after {
    -webkit-animation: loader-4-4 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    animation: loader-4-4 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@-webkit-keyframes loader-4-4 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
    50% {
        -webkit-transform: translate3d(46px, 0, 0) scale(0.5);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes loader-4-4 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }
    50% {
        transform: translate3d(46px, 0, 0) scale(0.5);
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}