/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bulma.min
 *= require font-awesome
 *= require_tree .
 *= require_self
  *= require_tree .


 */

* {
    font-family: "Jost", sans-serif !important;
}

body {
    min-height: 97vh;
}

#download-images {
    margin-left: -15px;
}

#download-images1 {
    margin-left: -5;
}

a:active,
a:focus,
button:focus,
button:active {
    outline: none;
}

@media only screen and (max-width: 640px) {
    #left-float-whenis-mobile {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }
}

.authorization-btn {
    border: none;
    box-shadow: none;
    color: #022855;
    background-color: transparent !important;
    &:hover {
        color: #022855;
    }
}

.main-container {
    padding: 1.7rem 3rem;
    padding-right: 0;
}

@media screen and (min-width: 769px) {
    .modal,.modal-background{
        position:absolute;
        right:2.2rem;
        top:120px;
    }

    .column.is-2_5,
    .column.is-2_5-tablet {
        flex: none;
        width: 20%;
        position: fixed;
    }
    
    #modal-background {
        display: none;
    }
    .modal-card,
    .modal-content {
        margin: 0 auto;
        max-height: calc(100vh - 40px);
        width: 360px;
        position: relative;
    }
    
    #modal-arrow {
        color: white;
        position: absolute;
        float: right;
        right: 3.4rem;
        font-size: 30px;
        top: 105px;
        z-index: 11;
    }
    .modal-card-foot,
    .modal-card-head {
        background-color: white;
    }
    #mobile-width-cart-nav {
        margin: 0;
    }

    .is-flex-direction-mobile-desktop {
        flex-direction: row;
    }
    .carousel {
        height: 630px!important;
    }
}

@media screen and (max-width: 769px) {
    .column.is-2_5,
    .column.is-2_5-tablet {
        flex: none;
        width: 20%;
        width: 70%;
        padding-left: 1.4rem;
    }
    #modal-arrow {
        display: none;
    }
    #modal-background {
        display: none;
    }
    .modal{
        position: fixed;
        width: 100%;
    }

    .is-flex-direction-mobile-desktop {
        flex-direction: column;
        max-width: 410px;
        justify-content: start;
        position: relative;
        left: -15px;
        margin: 0 35px;
        margin-left: 0px;
    }

    .carousel {
        height: 320px!important;
    }

    .price-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.modal-second {
    top: 150px;
    overflow: visible;
}

.modal-background-second {
    height: 1000%;
    width: 1000%;
    position: absolute;
    z-index: 1;
    top: -160px;
    left: -100%;
}

.modal-card-second {
    z-index: 1;
}

.modal-card-foot-second {
    background: white;
}


a.disabled {
    pointer-events: none;
    opacity: 0.6;
    color: grey;
}

.card-footer-item {
    font-weight: 500;
}

.paragraph-icons {
    position: relative;
    top: 1px;
}

#card-item-product {
    width: 140px;
}

.product-image {
    background-color: #f3f2f0;
    width: 130px;
    border-radius: 7%;
}

.add-icon {
    bottom: 5px;
    position: absolute;
    right: 5px;
    font-size: 25px;
    color: red;
    background-color: white;
    border-radius: 4px;
    padding: 6px;
    border: 1px solid #bfbdbd;
    width: 30px;
}

.add-or-reduce {
    font-size: 25px;
    /* color: red; */
    background-color: white;
    border-radius: 4px;
    border: 1px solid #f14668;
}

.add-or-reduce div {
    width: 40px;
    height: 40px;
}

.p-5px {
    padding: 5px;
}

.quantity-background {
    background-color: #f14668;
    color: white;
    font-size: 20px;
}

.card-category {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

body {
    background-color: white;
}

.showing-time {
    text-align: center;
    line-height: 1;
    margin-right: 0.5rem;
    background-color: #f1f1f1;
    border-radius: 10%;
    font-size: 14px;
    color: #022855;
    font-weight: 700;
    padding: 7px;
}

.price-div {
    width: 12rem;
    height: 55px;
    border-radius: 6px;
    position: relative;
}

.hero-main {
    margin-top: 69px;
}

.home-title {
    font-weight: 700;
    font-size: 0.75rem;
    color: black;
}

.user-account-icon {
    line-height: 50px;
    width: 50px;
    height: 50px;
    background-color: #bfbdbd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #022855;
    font-weight: bold;
    background-color: #f1f1f1;
    cursor: pointer;
}

.dropdown-menu {
    left: -180px;
}
.modal-background {
    position: absolute;
    right: 0px;
    left: 0;
    top: 95px;
    right: 0;
    z-index: 11;
    height: 1000%;
}
.modal-card {
    margin: 0px;
}

@media only screen and (max-width: 768px) {
    #delivery-price {
        font-size: 8px;
    }
    .cart-nav {
        width: 140px;
        height: 70px;
        float: right;
    }
    .card-nav-mt-mobile {
        display: none!important;
    }
    .font-size-subtotal-mobile {
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px) {
    #cart-details {
        width: 85%;
    }
    #mobile-width {
        position: fixed;
        bottom: 48px;
        right: 10%;
        width: 15%;
    }
    #mobile-width-cart-nav {
        width: 100%;
    }
    #account-section {
        position:fixed;
        top: 20px;
        right: 40px;
    }
    #shop-info-section {
        flex-direction: column;
    }
    #shop-info-section > div {
        justify-content: flex-start!important;
    }
    #shop-info-section :nth-child(2) {
        padding-top: 0px;
    }
}

@media only screen and (max-width: 768px) {
    #heading-delivery {
        font-size: 1.2em;
    }
    #delivery-time {
        font-size: 1em;
    }
    .shopping-icon-size-mobile {
        font-size: 3em;
        margin-top: 40px;
    }
    #delivery-men {
        font-size: 1rem;
    }
    .vertical-sign {
        font-size: 1.2rem;
    }
    .order-track {
        font-size: 0.7rem;
    }
    .non-padding-mobile-less-then-450px-second {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .subtitle-ajdusted {
        font-size: 1.125rem !important;
    }
    .order-quantity {
        width: 40px !important;
        font-size: 1.1rem !important;
    }
    .customer-name {
        margin-left: 0px !important;
    }
    #input {
        width: 100% !important;
    }
    .receipt-icon {
        font-size: 1.3rem !important;
    }
    .receipt-text {
        font-size: 1.1rem !important;
    }
}

@media only screen and (max-width: 450px) {
    #heading-delivery {
        font-size: 0.7em !important;
    }
    #delivery-time {
        font-size: 0.6em !important;
    }
    .shopping-icon-size-mobile {
        font-size: 2em !important;
        // margin-top: 40px !important;
    }
    #delivery-men {
        font-size: 0.7em !important;
    }
    .vertical-sign {
        font-size: 0.6rem !important;
    }
    .order-track {
        font-size: 0.5rem !important;
    }
    .steps-width {
        height: 3px !important;
    }
    .order-quantity {
        width: 29px !important;
        font-size: 0.8rem !important;
    }
    .order-name {
        font-size: 0.8rem !important;
    }
    .order-type {
        font-size: 0.6rem !important;
    }
    .image-profile-rider {
        width: 30px !important;
    }
    .subtitle-ajdusted {
        font-size: 1rem !important;
    }
    .non-padding-mobile-less-then-450px-second {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    #input {
        width: 100% !important;
    }
    .customer-name {
        margin-left: 0px !important;
    }
    .receipt-icon {
        font-size: 1rem !important;
    }
    .receipt-text {
        font-size: 0.9rem !important;
    }
}


/* Loader 4 */

#loader-4 {
    display: none;
}

.loader-4 {
    height: 45px;
    width: 45px;
}

.loader-4::after {
    content: "";
    display: block;
    position: absolute;
    top: -60px;
    left: 0;
    bottom: 0;
    right: 60px;
    margin: auto;
    width: 40px;
    height: 40px;
    top: -60px;
    left: 0;
    bottom: 0;
    right: 60px;
    margin: auto;
    background: rgb(244, 149, 149);
    border-radius: 50%;
    -webkit-animation: loader-4-1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    animation: loader-4-1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@-webkit-keyframes loader-4-1 {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
}

@keyframes loader-4-1 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.loader-4 span {
    display: block;
    position: absolute;
    top: -60px;
    left: 0;
    bottom: 0;
    right: 60px;
    margin: auto;
    height: 40px;
    width: 40px;
    -webkit-animation: loader-4-2 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    animation: loader-4-2 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@-webkit-keyframes loader-4-2 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loader-4-2 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-4 span::before,
.loader-4 span::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 40px;
    width: 40px;
    background: rgb(254, 144, 144);
    border-radius: 50%;
    -webkit-animation: loader-4-3 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    animation: loader-4-3 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@-webkit-keyframes loader-4-3 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
    50% {
        -webkit-transform: translate3d(-46px, 0, 0) scale(0.5);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes loader-4-3 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }
    50% {
        transform: translate3d(-46px, 0, 0) scale(0.5);
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}

.loader-4 span::after {
    -webkit-animation: loader-4-4 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    animation: loader-4-4 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@-webkit-keyframes loader-4-4 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
    50% {
        -webkit-transform: translate3d(46px, 0, 0) scale(0.5);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes loader-4-4 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }
    50% {
        transform: translate3d(46px, 0, 0) scale(0.5);
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}

.delivery-not-active {
    background-color: #f7dee3;
}

.delivery-being-active {
    background-color: #ec98a9;
}

.delivery-active {
    background-color: #f14668;
}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

