<a href="/products&category=<%= category.reference %>">
    <div class="is-flex mt-2 is-align-items-center">
        <i style="width: 25px;" class="<%= category.icon %>"></i>
        <p class="ml-2 paragraph-icons"><%= category.name %></p>
    </div>
</a>
